html {
  background-color: black;
}

.divHome {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80px;
  padding: 0 0;
  align-content: right;
  justify-content: right;
}

.divMain {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  padding: 0 0;
}

.divLITable {
  background-color: black;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.divButton {
  background-color: black;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
}

.divButtonSubjectChoice {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.divSubjectChoice {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  height: 100%;
}

.divClassChoice {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoiceSci {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoiceSTEM {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoicePhy {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoiceInvSci {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divContentChoice {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 80%;
  min-height: 30vh;
}

input {
  background-color: #001d3d;
}

.mainTable {
  background-color: goldenrod;
  color: black;
  text-align: center;
  width: 100%;
}

.adminButton {
  background-color: #ead6ff;
}

.homeButton {
  background-color: #c59cf1;
}

.buttonCompleted {
  background-color: green;
}

.buttonUncompleted {
  background-color: red;
}

.tdID {
  width: 5%;
}

.tdCheckbox {
  text-align: center;
  width: 5%;
}

.tdLINumber {
  width: 5%;
}

.tdLIString {
  text-align: left;
}





@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.buttonText {
  position:relative;
  font-family:"Roboto", sans-serif;
  transform:translate3d(0px, -4px, 0px);
  margin:0;
  align-self:end;
  grid-column:1/5;
  grid-row:2;

  text-align:center;
  font-size: 16px;
  background-color: #023568;
  color: goldenrod;
  text-shadow: 0.3px 0.3px 0.3px rgba(138, 134, 134, 0.5);
  -webkit-background-clip: text;
      -moz-background-clip: text;
          background-clip: text;
  transition: .13s ease-in-out; 
}

.glow-on-hover {
  font-family:"Roboto", sans-serif;
  transform:translate3d(0px, -4px, 0px);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  width: 200px;
  height: 200px;
  border: none;
  outline: none;
  /* color: #fff; */
  /* background: #001d3d; */
  /* background-color: #f4f5f6; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  /* box-shadow: 0px 0px 25px 5px goldenrod, 0px 0px 25px 5px red; */
  box-shadow: 0px 0px 20px 5px rgb(255, 255, 255), 0px 0px 25px 5px rgb(255, 255, 255);

}



.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300);
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% );
  height: calc(100%);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px goldenrod, 0px 0px 25px 5px red, 0px 0px 15px 5px darkgoldenrod, 0px 0px 25px 5px darkred;

}

.glow-on-hover:active {
  background-color: black;
  /* box-shadow: 0px 0px 15px 5px goldenrod, 0px 0px 25px 5px red; */

}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #001d3d; */
  background-color: #000000;
  left: 0;
  top: 0;
  border-radius: 50%;
  
  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



.glowButton {
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), 1);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
.glowButton::before, .glowButton::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.glowButton::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
.glowButton::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}
.glowButton:hover, .glowButton:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
.glowButton:hover::before, .glowButton:hover::after, .glowButton:focus::before, .glowButton:focus::after {
  transform: none;
  opacity: 1;
}







@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.buttonTextAdmin {
  /* color: goldenrod; */
  text-align: center;
  padding: 0 0;
  margin: 0;
  font-family:"Roboto", sans-serif;

}

.buttonTextHome {
  /* color: goldenrod; */
  text-align: center;
  padding: 0 0;
  margin: 0;
  font-family:"Roboto", sans-serif;

}

.neonButton{
  padding: 20px 20px;
  color: goldenrod;
  background-color: black;
  outline: goldenrod;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  height: 10px;
  align-content: center;
  align-items: center;
  display: flex;

}

.neonButton:hover{
    background: goldenrod;
    color: black;
    box-shadow: 0 0 5px goldenrod,
                0 0 25px goldenrod,
                0 0 50px orangered,
                0 0 100px orangered;
     -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}







@import url(https://fonts.googleapis.com/css?family=Electrolize);
* {
  box-sizing: border-box;
}

.space-btn {
  position: relative;
  font-family: "Electrolize", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1;
  color: #FFB902;
  margin: 0;
  padding: 1em;
  background: none;
  border: none;
  cursor: pointer;
}
.space-btn:hover {
  color: #ffd568;
}
.space-btn:focus {
  color: #ffc735;
  outline: none;
}
.space-btn:active {
  color: #FFB902;
}
.space-btn:before, .space-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
}
.space-btn:before {
  top: 0;
  left: 0;
  box-shadow: inset 1px 1px 0 0 #FFB902;
}
.space-btn:after {
  right: 0;
  bottom: 0;
  box-shadow: inset -1px -1px 0 0 #FFB902;
}

.space-btn:hover:before {
  -webkit-animation: hoverShadowBefore 1s forwards;
          animation: hoverShadowBefore 1s forwards;
}
.space-btn:hover:after {
  -webkit-animation: hoverShadowAfter 1s forwards;
          animation: hoverShadowAfter 1s forwards;
}

@-webkit-keyframes hoverShadowBefore {
  0% {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
  }
  33% {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
}

@keyframes hoverShadowBefore {
  0% {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
  }
  33% {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
}
@-webkit-keyframes hoverShadowAfter {
  0% {
    width: 100%;
    height: 1px;
  }
  33% {
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
}
@keyframes hoverShadowAfter {
  0% {
    width: 100%;
    height: 1px;
  }
  33% {
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
}










.appleButton {
	font: 1em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.appleButton {
	background-color: #eee;
	border: 0;
	border-radius: 0.125em;
	box-shadow: -0.2em -0.125em 0.125em rgba(0, 0, 0, 0.25),
		0 0 0 0.04em rgba(0, 0, 0, 0.3), 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset,
		-0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
	color: #000000;
	font-size: 1em;
	outline: 0;
	position: relative;
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.appleButton:not(:last-of-type) {
	margin-right: 0.35em;
}
.appleButton:active {
	box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
		0 0 0 0.05em rgba(0, 0, 0, 0.4),
		-0.025em -0.05em 0.025em rgba(255, 255, 255, 0.8) inset;
}
.appleButton span {
	display: inline-block;
}
.appleButton > span {
	margin: auto;
	padding: 0.2em 0.375em;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 0.5em;
	line-height: 2;
	transform: translateY(-50%) scaleX(0.875);
	width: 100%;
}






