/* MOBILE / DEFAULT */
html, body, :root {
  background-color: #050505;
  color: goldenrod;
  font-family: 'Inter var', 'Inter', 'Verdana', 'serif', 'sans-serif';
}

.divBG {
  background-color: #050505;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 5px;
  margin: 0px;
  box-sizing: border-box;
}

.divTeacherChoice {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  /* grid-template-rows: 1fr ; */
  grid-auto-flow: row;
  /* grid-auto-rows: 25%; */
  align-items: center;
  justify-items:center;
  position: relative;
  width: 100%;
  height: calc(100% - 140px);
  top: 70px;
  bottom: 70px;
  padding: 5px;
}

.divChoice {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  /* grid-template-rows: 1fr ; */
  grid-auto-flow: row;
  /* grid-auto-rows: 25%; */
  align-items: center;
  justify-items:center;
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  top: 0px;
  bottom: 70px;
  padding: 5px;
}

.divChoiceContent {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  /* grid-template-rows: 1fr ; */
  grid-auto-flow: row;
  /* grid-auto-rows: 25%; */
  align-items: center;
  justify-items:center;
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  top: 0px;
  bottom: 70px;
  padding: 5px;
}

.divContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  top: 0px;
  bottom: 70px;
  padding: 5px;
}



/* TOP BAR AND ADMIN BUTTONS */
.divTopBarHome {
  background-color: transparent;
  color: rgb(25, 160, 164);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  overflow: visible;
  position: fixed;
}

.divTopBar {
  background-color: transparent;
  color: goldenrod;
  display: flex;
  justify-content: right;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
  grid-template-rows: 50px;
  height: 70px;
  padding: 5px 5px 5px 5px;
  width: auto;
  position: fixed;
  right: 5px;
  left: 5px;
  bottom: 5px;
  z-index: 1;
  overflow: visible;
}

.divTopBarHomeButton {
  /* grid-row: 1;
  grid-column: 1; */
  align-self: center;
  justify-self: center;
  width: 50px;
}

.divTopBarBack {
  /* grid-row: 1;
  grid-column: 2; */
  align-self: center;
  justify-self: center;
}

.divTopBarToggleLoginAdmin {
  /* grid-row: 1;
  grid-column: 3; */
  align-self: center;
  justify-self: center;
}

.divLogin {
  position: relative;
  width: 100%;
  background-color: transparent;
  /* display: flex; */
  align-content: center;
  bottom: 10px;

}

.divLoginAdmin {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #050505; */
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(10px);
  /* opacity: 95%; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end ;

}

.pageHeadingAdmin {
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 2.5em;
  background-color: transparent;
  color: goldenrod;
  padding: 5px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
}



.divLoginContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.divLoginButton {
  align-self: flex-end;
  width: 50px;
  display: flex;
  align-items: flex-end;
}
.divLoginText {
  align-self: left;
  display: flex;
  padding: 5px;
  width: auto;
  color: goldenrod;
  letter-spacing: -0.055em;
  font-weight: 740;
  text-transform: uppercase;
  font-size: 1.1em;
}
.divLoginTextInactive {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 5px;
  width: auto;
  color: grey;
  letter-spacing: -0.055em;
  font-weight: 740;
  text-transform: uppercase;
  font-size: 1.1em;
}


.divLogOutContainer {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

}
.divLogOutButton {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  width: 50px;
}
.divLogOutText {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 5px;
  width: auto;
  color: goldenrod;
  letter-spacing: -0.055em;
  font-weight: 740;
  text-transform: uppercase;
  font-size: 1.1em;
}
.divLogOutTextInactive {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 5px;
  width: auto;
  color: grey;
  letter-spacing: -0.055em;
  font-weight: 740;
  text-transform: uppercase;
  font-size: 1.1em;
}



.divLoginStatusContainer {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

}
.divLoginStatus {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  width: 50px;
}
.divLoginStatusText {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 5px;
  width: auto;
  color: goldenrod;
  letter-spacing: -0.055em;
  font-weight: 740;
  text-transform: uppercase;
  font-size: 1.1em;
}
.divLoginStatusTextInactive {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 5px;
  width: auto;
  color: grey;
  letter-spacing: -0.055em;
  font-weight: 740;
  text-transform: uppercase;
  font-size: 1.1em;
}







.divUploadToCloudContainer {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

}
.divUploadToCloudButton {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  width: 50px;
}
.divUploadToCloudText {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 5px;
  width: auto;
  color: goldenrod;
  letter-spacing: -0.055em;
  font-weight: 740;
  text-transform: uppercase;
  font-size: 1.1em;
}
























.divLoginClose {
  background-color: transparent;
  display: flex;
  border: none;
  justify-content: flex-end;
  height: 70px;
}

.divPWEmail {
  display: flex;
  position: relative;
  flex-direction: column;

}

.divEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  grid-row: 2;
  grid-column: 1 / 8;
  height: 50px;
  width: 100%;  
  align-self: left;
  justify-self: left;
}

.divEmailText {
  width: 150px;
}

.divPWText {
  width: 150px;
}

.divPW {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  grid-row: 3;
  grid-column: 1 / 8;
  height: 50px;
  width: 100%;
  align-self: left;
  justify-self: left;
}

.neonButtonPW {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  width: 50px;
  color: goldenrod;
  background-color: #050505;
  outline: goldenrod;
  font-weight: normal;
  border: solid 1px goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.neonButtonClose {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  width: 50px;
  color: teal;
  background-color: transparent;
  outline: goldenrod;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* LOGIN INPUT AND PW */
input {
  /* background: black; */
  font-family: "Inter var";
  letter-spacing: -0.035em;
  font-weight: 640;
  background-color: #050505;
  color: goldenrod;
  border: solid 1px goldenrod;
  border-radius: 5px;
  text-align: left;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  font-size: 1em;
}

input:hover{
  font-size: 1em;
  /* background: goldenrod; */
  color: goldenrod;
  box-shadow: 0 0 5px goldenrod,
              0 0 25px goldenrod,
              0 0 50px orangered,
              0 0 100px orangered;
   -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}










/* LEARNING INTENTIONS*/

.divLITopicArea {
  grid-column: span 12;
}

.divLIGrid {
  color: goldenrod;
  max-width: 95vw;
  margin: 0 auto;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px ;
}


.divLIGridChild {
  background: #121212;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  grid-column: span 6;
}

.pageHeadingLI {
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 2.5em;
  text-transform: uppercase;
  background-color: #050505;
  color: goldenrod;
  padding: 10px 10px 0px 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
}

.pageSubHeadingLI {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.5em;
  background-color: #050505;
  color: goldenrod;
  margin: 0px 0px;
  padding: 0px 10px 10px 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
}

.topicHeadingLI {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.5em;
  background-color: #050505;
  color: goldenrod;
  margin: 0px 0px;
  padding: 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
}

.divLIMiniHeadingText {
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  text-align: center;
  background-color: #121212;
  border-radius: 5px;


}

.divLIStringText {
  font-size: 0.8em;
  text-align: center;
  border-radius: 5px;
  padding: 0px 0px 0px 0px;
}

.divLIStringText::first-letter {
  text-transform: capitalize;
}
















/* ASSESSMENT INFORMATION*/
.divAss {
  grid-column: span 12;
  background: transparent;
}

.divAssInfo {
  grid-column: span 12;
  background: #121212;
  color: goldenrod;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
}

/* .divAssInfo > div {
  grid-column: span 12;
} */

.divAssDueDate {
  text-align: center;
  grid-column: span 6;
  border: 1px solid goldenrod;
  padding: 5px;
}

.divAssWeighting {
  text-align: center;
  grid-column: span 6;
  border: 1px solid goldenrod;
  padding: 5px;
}

.divAssDescription {
  text-align: center;
  grid-column: span 12;
  border: 1px solid goldenrod;
  padding: 5px;
}

.divAssOutcomes {
  text-align: center;
  grid-column: span 12;
  border: 1px solid goldenrod;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);


}

.divAssSuccessCriteria {
  text-align: center;
  grid-column: span 12;
  border: 1px solid goldenrod;
  padding: 5px;
}

.pageHeadingAss {
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 2.5em;
  background-color: #050505;
  color: goldenrod;
  padding: 10px 10px 0px 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.assHeading {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.5em;
  background-color: #050505;
  color: goldenrod;
  margin: 0px 0px;
  padding: 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.assSubHeading {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.5em;
  background-color: #050505;
  color: goldenrod;
  margin: 0px 0px;
  padding: 0px 10px 10px 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.divAssHeadingAndText {
  /* background-color: #050505; */
  grid-column: span 12;
  padding: 5px;
  /* border: 1px solid goldenrod; */
  /* border-radius: 5px; */

}

.divAssBoxHeading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.95em;
  text-align: center;
  grid-column: span 12;
}

.divAssBoxSubHeading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  text-align: center;
}

.divAssBoxText {
  font-size: 0.8em;
  padding: 5px;
}














/* SUBJECT INFORMATION*/
.divSubj {
  grid-column: span 12;
  background: transparent;
  color: goldenrod;
}

.divSubjTopic {
  background: transparent;
}

.divSubjTopicInfo {
  background: #121212;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.divSubjDuration {
  grid-column: span 12;
  border: 1px solid goldenrod;
  padding: 5px;
  text-align: center;

}

.divSubjTopicDescription {
  grid-column: span 12;
  border: 1px solid goldenrod;
  padding: 5px 10px;
  text-align: center;


}

.divSubjTopicOutcomes {
  grid-column: span 12;
  border: 1px solid goldenrod;
  padding: 5px;
  text-align: center;

}

.divSubjBoxHeading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.95em;
}

.divSubjBoxText {
  font-size: 0.8em;
  
}

.pageHeadingSubj {
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 2.5em;
  background-color: #050505;
  color: goldenrod;
  padding: 10px 10px 0px 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.subjHeading {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.5em;
  /* background-color: #050505; */
  color: goldenrod;
  margin: 0px 0px;
  padding: 0px 10px 10px 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;

}

.subjSubHeading {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.5em;
  background-color: #050505;
  color: goldenrod;
  margin: 0px 0px;
  padding: 0px 10px 10px 10px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;

}






/* PAGE HEADINGS STYLINGS */
.pageHeading {
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 2.5em;
  background-color: #050505;
  color: goldenrod;
  padding: 5px;
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  text-align: center;
}


.pageHeading2 {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.5em;
  background-color: #050505;
  color: goldenrod;
  margin: 0px 0px;
  /* padding: 5px 10px; */
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  /* text-align: left; */
}

.pageHeading3 {
  /* display: inline; */
  grid-column: span 12;
  font-family: "Inter var";
  font-size: 1.2em;
  background-color: #050505;
  color: goldenrod;
  margin: 0px 0px;
  /* padding: 5px 10px; */
  border-color: black;
  margin-bottom: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.055em;
  font-weight: 740;
  line-height: 1em;
  /* text-align: left; */
}




/* PAGE BODY TEXT STYLINGS */
.pageText1 {
  font-size: 1em;
}








/* LI UPLOAD TO CLOUD DIV AND BUTTON */
.divButtonUploadToCloud {
  grid-column: span 12;
  /* background: transparent; */
  display: flex;
  flex-direction: row;
  align-items: right;
  height: 40px;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.uploadButton {
  border: 1px solid darkgrey;
  background-color: teal;
  color: black;
  border-radius: 15px;
  width: 100% ;
}








/* LI BUTTON STATUS */

.buttonCompleted {
  background-color: rgb(2, 71, 2);
  width: 100%;
  color:lightgrey;
  border-radius: 5px;
}

.buttonUncompleted {
  background-color: rgb(74, 3, 3);
  width: 100%;
  color:lightgrey;
  border-radius: 5px;

}

.divLIStatus {
  text-align: center;
  width: 100%;
}

/* .divLIString {
  text-align: left;
} */


.divIcon {
  background-color: transparent;
  height: 50px;
  width: 50px;
  align-content: center;
}





/* PAGE HEADER IMAGES */
.divContentImageHeader {
  background: transparent;
}






/* HALO GLOW BUTTONS */
.divGlowButton {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  width: 80% ;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.glowButtonText {
  position:relative;
  font-family:"Inter var", sans-serif;
  letter-spacing: -0.025em;
  font-weight: 540;
  text-transform: uppercase;
  /* font-variant: small-caps; */
  /* transform:translate3d(0px, 0px, 0px); */
  margin:0;
  /* align-self:end;
  grid-column:1/5;
  grid-row:2; */
  text-align:center;
  /* text-transform: capitalize; */
  font-size: calc(0.7em + 6 * ((100vw - 320px) / 680));
  background-color: #050505;
  /* color: rgb(25, 160, 164); */
  color:goldenrod;

  /* text-shadow: 0.3px 0.3px 0.3px rgba(138, 134, 134, 0.5); */
  -webkit-background-clip: text;
      -moz-background-clip: text;
          background-clip: text;
  transition: .13s ease-in-out; 
}

.glowButton {
  font-family:"Inter var", sans-serif;
  transform:translate3d(0px, -4px, 0px);
  /* text-shadow: 2px 2px 3px rgba(255,255,255,0.5); */
  /* width: 80% ; */
  aspect-ratio: 1 / 1;
  height: 80%;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgb(255, 255, 255), 0px 0px 25px 5px rgb(255, 255, 255);
}

.glowButton:before {
  content: '';
  background: linear-gradient(45deg, orangered,orangered);
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% );
  height: calc(100%);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px goldenrod, 0px 0px 25px 5px red, 0px 0px 15px 5px darkgoldenrod, 0px 0px 25px 5px darkred;
}

.glowButton:active {
   background-color: #050505;
}

.glowButton:active:after {
  background: transparent;
}

.glowButton:hover:before {
  opacity: 1;
}

.glowButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}








/* NEON BUTTONS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.buttonTextAdmin {
  text-align: center;
  padding: 0 0;
  margin: 0;
  font-family:"Inter var", sans-serif;
}

.buttonTextHome {
  text-align: center;
  padding: 0 0;
  margin: 0;
  font-family:"Inter var", sans-serif;
}

.neonButton{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  width: 50px;
  color: goldenrod;
  background-color: #050505;
  outline: goldenrod;
  font-weight: normal;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* display: flex; */
}

.neonButtonDisabled{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  width: 50px;
  color: grey;
  background-color: #050505;
  outline: goldenrod;
  font-weight: normal;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: not-allowed;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.neonButtonActive {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  width: 50px;
  color: goldenrod;
  background-color: #050505;
  outline: goldenrod;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background: goldenrod;
  color: black;
  box-shadow: 0 0 5px goldenrod,
              0 0 25px goldenrod,
              0 0 50px orangered,
              0 0 100px orangered;
   -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}

.neonButton:hover{
    background: black;
    color: goldenrod;
    box-shadow: 0 0 5px goldenrod,
                0 0 25px goldenrod,
                0 0 50px orangered,
                0 0 100px orangered;
     -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}

.neonBox{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  width: 50px;
  color: grey;
  background-color: #050505;
  outline: goldenrod;
  font-weight: normal;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: not-allowed;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.neonBoxActive {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  width: 50px;
  color: goldenrod;
  background-color: #050505;
  outline: goldenrod;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: default;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background: goldenrod;
  color: black;
  box-shadow: 0 0 5px goldenrod,
              0 0 25px goldenrod,
              0 0 50px orangered,
              0 0 100px orangered;
   -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}

.homeNeonButton {
  font-family: 'Inter var';
  font-size: calc(0.7em + 6 * ((100vw - 320px) / 680));
  letter-spacing: -0.055em;
  font-weight: 740;
  padding: 30px 30px 30px 30px;
  /* margin: 10px 10px 10px 10px; */
  height: 1px;
  color: goldenrod;
  background-color: #050505;
  outline: goldenrod;
  font-weight: normal;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  align-items: center;
  display: flex;
}

.homeNeonButtonText {
  font-family: 'Inter var';
  font-size: 100%;
  letter-spacing: -0.045em;
  font-weight: 640;
  margin: 0px;
}

.homeNeonButtonActive {
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  height: 15px;
  color: goldenrod;
   background-color: #050505;
  outline: goldenrod;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  align-items: center;
  display: flex;
  background: goldenrod;
  color: black;
  box-shadow: 0 0 5px goldenrod,
              0 0 25px goldenrod,
              0 0 50px orangered,
              0 0 100px orangered;
   -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}

.homeNeonButton:hover{
    background: black;
    color: goldenrod;
    box-shadow: 0 0 5px goldenrod,
                0 0 25px goldenrod,
                0 0 50px orangered,
                0 0 100px orangered;
     -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}

.homeNeonBox{
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  height: 15px;
  color: goldenrod;
   background-color: #050505;
  outline: goldenrod;
  font-weight: normal;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: default;
  align-content: center;
  align-items: center;
  display: flex;
}

.homeNeonBoxActive {
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  height: 15px;
  color: goldenrod;
   background-color: #050505;
  outline: goldenrod;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: default;
  align-content: center;
  align-items: center;
  display: flex;
  background: goldenrod;
  color: black;
  box-shadow: 0 0 5px goldenrod,
              0 0 25px goldenrod,
              0 0 50px orangered,
              0 0 100px orangered;
   -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}





















/* TABLET */
@media only screen and (min-width: 600px) {
  .divChoice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items:center;
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    top: 10%;
  }

  .divContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    top: 10%;
    padding: 5%;
  }

  .divLIGridChild {
    background: #121212;
    text-align: center;
    padding: 20px;
    border: 1px solid #777;
    border-radius: 10px;
    grid-column: span 6;
  }

}
























/* DESKTOP */
@media only screen and (min-width: 768px) {
  .divChoice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items:center;
    position: relative;
    width: 100%;
    height: 90%;
    top: 10%;
  }
  .divContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 100%;
    height: 90%;
    top: 10%;
    padding: 5%;
  }
  .divLIGridChild {
    background: #121212;
    text-align: center;
    padding: 20px;
    border: 1px solid #777;
    border-radius: 10px;
    grid-column: span 3;
  }

}























