.divTopBar {
  background-color: #000000;
  color: goldenrod;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.divLogin {
  background-color: #000000;
  color: goldenrod;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  /* border: 1px solid goldenrod; */
}

.divLoginHidden {
  background-color: #000000;
  color: goldenrod;
  display: none;
}


.divAdmin {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  /* height: 80px; */
  /* padding: 0 0; */
  align-content: center;
  justify-content: center;
  /* max-width: 100vw; */
}

.divAdminHidden {
  background-color: black;
  display: none;
  /*flex-direction: row; */
  /* width: 100vw; */
  /* height: 80px; */
  /* padding: 0 0;
  align-content: right;
  justify-content: right; */
  /* max-width: 100vw; */
}

.divHome {
  background-color: black;
  /* display: flex; */
  /* flex-direction: row;
  /* width: 100%; */
  /* height: 100px; */
  /* align-content: center; */
  /* justify-content: center;  */
  /* margin-left: 0px; */
  /* max-width: 100vw; */
}

.divHomeHidden {
  background-color: black;
  display: none;
  flex-direction: row;
  /* width: 100%; */
  /* height: 100px; */
  /* padding: 0 0; */
  /* align-content: center; */
  /* justify-content: center; */
  /* margin-left: 0px; */
  /* max-width: 100vw; */
}

.divDisplayLoginAdmin {
  background-color: black;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* height: 100px; */
  /* padding: 0 0; */
  /* align-content: center; */
  /* justify-content: center; */
  /* margin-left: 0px; */
  /* max-width: 100vw; */
}

.divDisplayLoginAdminHidden {
  background-color: black;
  display: none;
  flex-direction: row;
  /* width: 100%; */
  /* height: 100px; */
  /* padding: 0 0; */
  /* align-content: center; */
  /* justify-content: center; */
  /* margin-left: 0px; */
  /* max-width: 100vw; */
}

.buttonLogin {
  background-color: #000000;
  color: goldenrod;
  border: solid 1px goldenrod;
  border-radius: 5px;
}

input {
  background: black;
  background-color: #000000;
  color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 5px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  height: 10px;
  font-size: 16px;
  /* height: 10px; */
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  font-size: 16px;

}

input:hover{
  font-size: 16px;
  background: goldenrod;
  color: black;
  box-shadow: 0 0 5px goldenrod,
              0 0 25px goldenrod,
              0 0 50px orangered,
              0 0 100px orangered;
   -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}

html {
  background-color: black;
}





.divMain {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  padding: 0 0;
  max-width: 100vw;

}



.divLITable {
  background-color: black;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.divButton {
  background-color: black;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
}

.divButtonSubjectChoice {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.divTeacherChoice {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  height: 100vh;
}

.divSubjectChoice {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  height: 100%;
}

.divClassChoice {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoiceSci {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoiceSTEM {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoicePhy {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divClassChoiceInvSci {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  min-height: 30vh;
}

.divContentChoice {
  background-color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 80%;
  min-height: 30vh;
}


.mainTable {
  background-color: goldenrod;
  color: black;
  text-align: center;
  width: 100%;
}

.adminButton {
  background-color: #ead6ff;
}

.homeButton {
  background-color: #c59cf1;
}

.buttonCompleted {
  background-color: green;
}

.buttonUncompleted {
  background-color: red;
}

.tdID {
  width: 5%;
}

.tdCheckbox {
  text-align: center;
  width: 5%;
}

.tdLINumber {
  width: 5%;
}

.tdLIString {
  text-align: left;
}





@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.buttonText {
  position:relative;
  font-family:"Roboto", sans-serif;
  transform:translate3d(0px, 0px, 0px);
  margin:0;
  align-self:end;
  grid-column:1/5;
  grid-row:2;

  text-align:center;
  font-size: 16px;
  background-color: black;
  color: goldenrod;
  text-shadow: 0.3px 0.3px 0.3px rgba(138, 134, 134, 0.5);
  -webkit-background-clip: text;
      -moz-background-clip: text;
          background-clip: text;
  transition: .13s ease-in-out; 
}

.glow-on-hover {
  font-family:"Roboto", sans-serif;
  transform:translate3d(0px, -4px, 0px);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  width: 200px;
  height: 200px;
  border: none;
  outline: none;
  /* color: #fff; */
  /* background: #001d3d; */
  /* background-color: #f4f5f6; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  /* box-shadow: 0px 0px 25px 5px goldenrod, 0px 0px 25px 5px red; */
  box-shadow: 0px 0px 20px 5px rgb(255, 255, 255), 0px 0px 25px 5px rgb(255, 255, 255);

}



.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, orangered,orangered);
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% );
  height: calc(100%);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px goldenrod, 0px 0px 25px 5px red, 0px 0px 15px 5px darkgoldenrod, 0px 0px 25px 5px darkred;

}

.glow-on-hover:active {
  background-color: black;
  /* box-shadow: 0px 0px 15px 5px goldenrod, 0px 0px 25px 5px red; */

}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #001d3d; */
  background-color: #000000;
  left: 0;
  top: 0;
  border-radius: 50%;
  
  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}














@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.mini-buttonText {
  position:relative;
  font-family:"Roboto", sans-serif;
  transform:translate3d(0px, 0px, 0px);
  margin:0 0;
  align-self:end;
  grid-column:1;
  grid-row:1;

  text-align:center;
  font-size: 10px;
  background-color: black;
  color: goldenrod;
  text-shadow: 0.3px 0.3px 0.3px rgba(138, 134, 134, 0.5);
  -webkit-background-clip: text;
      -moz-background-clip: text;
          background-clip: text;
  transition: .13s ease-in-out; 
}

.mini-glow-on-hover {
  font-family:"Roboto", sans-serif;
  transform:translate3d(0px, -4px, 0px);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  /* color: #fff; */
  /* background: #001d3d; */
  /* background-color: #f4f5f6; */
  cursor: pointer;
  position: relative;
  /* margin-left: 20px; */
  /* margin-top: 20px; */
  margin: 20px 20px 20px 20px;
  z-index: 0;
  border-radius: 50%;
  /* box-shadow: 0px 0px 25px 5px goldenrod, 0px 0px 25px 5px red; */
  box-shadow: 0px 0px 2px 5px rgb(255, 255, 255), 0px 0px 25px 5px rgb(255, 255, 255);

}



.mini-glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, orangered,orangered);
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% );
  height: calc(100%);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px goldenrod, 0px 0px 25px 5px red, 0px 0px 15px 5px darkgoldenrod, 0px 0px 25px 5px darkred;

}

.mini-glow-on-hover:active {
  background-color: black;
  /* box-shadow: 0px 0px 15px 5px goldenrod, 0px 0px 25px 5px red; */

}

.mini-glow-on-hover:active:after {
  background: transparent;
}

.mini-glow-on-hover:hover:before {
  opacity: 1;
}

.mini-glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #001d3d; */
  background-color: #000000;
  left: 0;
  top: 0;
  border-radius: 50%;
  
  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}













@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.buttonTextAdmin {
  /* color: goldenrod; */
  text-align: center;
  padding: 0 0;
  margin: 0;
  font-family:"Roboto", sans-serif;
  /* font-size: 12px; */

}

.buttonTextHome {
  /* color: goldenrod; */
  text-align: center;
  padding: 0 0;
  margin: 0;
  font-family:"Roboto", sans-serif;

}

.neonButton{
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  height: 10px;
  color: goldenrod;
  background-color: black;
  outline: goldenrod;
  font-weight: normal;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  align-items: center;
  display: flex;

}

.neonButtonActive {
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  height: 10px;
  color: goldenrod;
  background-color: black;
  outline: goldenrod;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  align-items: center;
  display: flex;
  background: goldenrod;
  color: black;
  box-shadow: 0 0 5px goldenrod,
              0 0 25px goldenrod,
              0 0 50px orangered,
              0 0 100px orangered;
   -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}

.neonButton:hover{
    background: black;
    color: goldenrod;
    box-shadow: 0 0 5px goldenrod,
                0 0 25px goldenrod,
                0 0 50px orangered,
                0 0 100px orangered;
     -webkit-box-reflect:below 0.1px linear-gradient(transparent, #0005);
}





